{% extends 'events/navbar.html' %} {% load static %} 


{% block title %}
Dashboard
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for event in events %}
        <div class="col mb-4">
            <div class="card border border-dark" style="width: 20rem">
                <img src="/media/{{event.upload_image}}"  height="250px">
                <div class="card-body">
                    <h5 class="card-title">{{event.event_name}}</h5>
                    <p class="card-text">
                        <h6>Start Date: {{event.start_date}}</h6> 
                        <h6>End Date: {{event.end_date}}</h6> 
                    </p>
                   
                    <a href="{% url 'events:details' event.slug %} " class="btn btn-primary">{{details}}</a>
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
