<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3>
                <a href="#">VESIT<span class="text-primary">Feedback</span></a>
            </h3>
            <p class="links">
                <a href="{% url 'events:dashboard' %}">Home</a
                ><strong> · </strong><a href="#">Blog</a><strong> · </strong
                ><a href="#">Pricing</a><strong> · </strong><a href="#">About</a
                ><strong> · </strong><a href="#">Faq</a><strong> · </strong
                ><a href="#">Contact</a>
            </p>
            <p class="company-name">
                <a href="https://vesit.ves.ac.in/">VESIT.com</a> © 2020
            </p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p>
                    <span class="new-line-span"
                        >Collector's Colony Chembur, Mumbai</span
                    >
                    Maharashtra 400074
                </p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">Contact: 022 6153 2500</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank" class="text-primary">vesit@ves.ac.in</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4>About the college</h4>
            <p>Vivekanand Education Society of Technology.</p>
            <div class="social-links social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a
                ><a href="#"><i class="fab fa-twitter"></i></a
                ><a href="#"><i class="fab fa-linkedin"></i></a
                ><a href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
